@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|PT+Serif:400,400i|Roboto:400");

:root {
    --red: #f08080;
    --orange: #f0b87f;
    --green: #b8f07f;
    --gray: gainsboro;
    --color-dark-gray: #ccc;
    --color-text-light: #888;
    --color-text-gray: #333;
}

.red {
    background-color: var(--red);
}

.orange {
    background-color: var(--orange);
}

.green {
    background-color: var(--green);
}

.gray {
    background-color: var(--gray);
}



h1 {
    margin-bottom: 0px;
    font-size: 2em;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: bold;
}

h2 {
    margin: 0px auto;
    color: var(--color-text-gray);
    font-size: 1.1em;
    line-height: 1em;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-weight: normal;
}

h2 a {
    color: var(--color-text-gray);
}

h2 a:hover:active {
    color: var(--color-highlight);
}

h3 {
    margin: 4px auto 12px auto;
    color: var(--color-text-light);
    font-size: 0.8em;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-style: italic;
}

h3 a {
    color: var(--color-text-gray);
}

h2 a:hover:active {
    color: var(--color-highlight);
}

p {
    margin: 5px auto;
    color: var(--color-text-gray);
    font-size: 0.9em;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-style: italic;
}

body {
    margin: 0px;
    padding-bottom: 40px;
}

header {
    max-width: 400px;
    width: 90%;
    margin: 10px auto;
    text-align: left;
    border-bottom: 1px solid silver;
    transition: filter 0.1s;
}

#about {
    color: var(--color-text-light);
}

#float-nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
}

#timer-box {
    margin: 20px;
}

#timer {
    font-size: 1.6em;
}

#timer-skip a {
    color: var(--color-text-gray);
}

#message {
    font-size: 1.6em;
}

#message-again {
    font-size: 1.1em;
}

#message-again a {
    color: var(--color-text-gray);
}

h2 a:hover:active {
    color: var(--red);
}

#body-container {
    margin: 0px auto;
    max-width: 1200px;
}

#memorize,
#recall,
#result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#memorize-template,
#recall-template,
#result-template {
    display: none;
}

.card {
    width: 128px;
    height: 160px;
    margin: 8px;
    text-align: center;
}

.card-face {
    width: 128px;
    margin: 0px;
}

.card-label,
.card-form {
    font-size: 1.2em;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.card-label {
    margin-top: 2px;
}

.recall-label {
    padding: 2px;
}


.card-form {
    width: 90%;
    margin-top: 4px;
    text-align: center;
}

.hidden {
    display: none !important;
}